<div id="header" style="font-size: 9pt; font-family: Segoe UI; ">

  <!-- <div id="suite-title" style="padding: 10px; background-color: black;  color: lightgrey; text-align:left; font-size: 15pt; font-family: 'Calibri Light'">
      PhoenixStudio&trade; AE Platform
  </div> -->
<div id="title" style="background-color:  #0062cc;; height: 25px; color: white; text-align:center">
  Tivo&trade; Management Console
  <button type="button" class="close" aria-label="Close" style="color:white;">
          &times;
        </button>

</div>
<div id="ribbon" style="background-image: linear-gradient( #808080 5% , #F8F8FF 70%); height: 120px;">
  <div id="tab-section">
  <ul class="nav nav-tabs" role="tablist" style="background-color:  #0062cc;">
      <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Manage</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Tools</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Settings</a>
      </li>
   </ul>
   <div class="tab-content">
      <div id="home" class="tab-pane active"><br>
          <!-- content-->
          <table id="searchTable" style="font-size:8pt;">
              <tr>
                  <td>

                    <div class="ribbonButtonSection">
                        <div class="btn-group">
                            <div class="ribbonButton" data-toggle="modal" data-target="#myModal">
                                <div class="buttonIcon">
                                    <i class="fa fa-download" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Download</label>
                                </div>
                            </div>

                            <div class="ribbonButton" (click) = "eraseStreamData()">
                                <div class="buttonIcon">
                                    <i class="fa fa-remove" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Erase</label>
                                </div>
                            </div>

                            <div class="ribbonButton">
                                <div class="buttonIcon">
                                    <i class="fa fa-refresh" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Resume</label>
                                </div>
                            </div>
                        </div>

                        <div style="text-align:center;">
                            <label style="color:gray">Functions</label>
                        </div>
                    </div> <!-- ribbonButtonSection-->
                  </td>
                <td>
                    <!-- separator-->
                    <div class="vl"></div>
                </td>
                  <td>
                      <!-- put the next set of button here-->
                      <div class="ribbonButtonSection">
                        <div class="btn-group">

                            <div class="ribbonButton" (click) = "eraseStreamData()">
                                <div class="buttonIcon">
                                    <i class="fa fa-angle-double-down" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Archive</label>
                                </div>
                            </div>

                            <div class="ribbonButton" data-toggle="modal" data-target="#myModal">
                                <div class="buttonIcon">
                                    <i class="fa fa-angle-double-right" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Regenerate</label>
                                </div>
                            </div>



                            <div class="ribbonButton" (click) = "eraseStreamData()">
                                <div class="buttonIcon">
                                    <i class="fa fa-search" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Explore</label>
                                </div>
                            </div>



                        </div>
                        <div style="text-align:center;">
                            <label style="color:gray">Stream Media</label>
                        </div>
                    </div> <!-- ribbonButtonSection-->  
                  </td>
                  <td>
                    <!-- separator-->
                    <div class="vl"></div>
                </td>
                
                <td>
                    <div class="ribbonButtonSection">
                        <div class="btn-group">
                            <div class="ribbonButton" data-toggle="modal" data-target="#myModal">
                                <div class="buttonIcon">
                                    <i class="fa fa-remove" style="font-size:36px; color:gray"></i>
                                </div>
                                <div class="buttonText">
                                    <label>Clear</label>
                                </div>
                            </div>

                            <div style="margin-left:8px;">
                                <input type="checkbox" id="notstartedfilter" name="notstartedfilter" value="notstartedfilter">
                                <label for="notstartedfilter"> Not Started</label><br>
                                <input type="checkbox" id="inprogressfilter" name="inprogressfilter" value="inprogressfilter">
                                <label for="inprogressfilter"> In Progress</label><br>
                                <input type="checkbox" id="successfilter" name="successfilter" value="successfilter">
                                <label for="successfilter"> Success</label><br>
                            </div>
                            <div style="margin-left:8px;">
                                <input type="checkbox" id="errorfilter" name="deletedfilter" value="deletedfilter">
                                <label for="deletedfilter"> Deleted</label><br>
                                <input type="checkbox" id="cancelledfilter" name="cancelledfilter" value="cancelledfilter">
                                <label for="cancelledfilter"> Cancelled</label><br>
                                <input type="checkbox" id="errorfilter" name="errorfilter" value="errorfilter">
                                <label for="errorfilter"> Error</label><br>
                            </div>

                        </div>
                        <div style="text-align:center;">
                            <label style="color:gray">Download Dashboard</label>
                        </div>
                    </div> <!-- ribbonButtonSection-->                     
                </td>


                  <td>
                    <!-- put the next set of button here-->
                </td>
              </tr>
          </table>
      </div>
      <div id="menu1" class="tab-pane fade"><br>
          <!-- content-->
      </div>
      <div id="menu2" class="tab-pane fade"><br>
          <!-- content-->
      </div>
  </div>
  </div> <!-- tab-section-->

</div> 

<div id="navigationTab" style="padding: 2px; border-style: none; background-image: linear-gradient( #D8D8D8 5% , #F8F8FF 70%);">
 <div id="buttonPanel" style="padding:6px">
  <button style="cursor:unset" onclick="window.location.href = '/active';">Summary Panel</button>&nbsp;
  <button style="cursor:unset" onclick="window.location.href = '/history';">Download Log</button>&nbsp;
  <button style="cursor:unset" onclick="window.location.href = '/dashboard';">Live Dashboard</button>&nbsp;
  <label>&nbsp;Source URL:&nbsp;</label>
  <input type="text" size="100" name="sourceUrl" [(ngModel)]="sourceUrl" >&nbsp;
  <label>&nbsp;Output Name:&nbsp;</label>
  <input type="text" name="outputName" [(ngModel)]="outputName" (keyup.enter)="submitDownload()">
  <button style="cursor:unset" (click)="submitDownload()">Go</button>
  <button data-toggle="modal" data-target="#myModal">
    Go With
  </button>
  <app-download-modal></app-download-modal>
  </div>
</div>

</div>
