<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" >
      <div id="modal-div" style="border-style: groove;">
          <div id="modal-titlebar" style="background-color: #0062cc; color:white; padding: 5px;">
            Download
          </div>
          <div id="modal-main-body" style="background-color: #F5F5F5;">

            <form action="#" style="padding:20px;">
              <label>Enter specific parameters for the custom download</label>
              <div class="form-group">
                <label for="usr">Url</label>
                <input type="text" id="url" name="url" class="form-control form-control-sm" id="usr" name="url" [(ngModel)]="url">
              </div>
              <div class="form-group">
                <label for="pwd">Output File Name:</label>
                <input type="text" id="outputFileName" name="outputFileName" class="form-control form-control-sm" [(ngModel)]="outputFileName" id="pwd" name="outputFileName">
              </div>
              <div class="form-group">
                <label for="pwd">Start File Number</label>
                <input type="text" id="startFileNumber" name="startFileNumber" class="form-control form-control-sm" [(ngModel)]="startFileNumber" id="pwd" name="startFileNumber">
              </div>
              <div class="form-group">
                <label for="pwd">End File Number</label>
                <input type="text" id="endFileNumber" name="endFileNumber" class="form-control form-control-sm" [(ngModel)]="endFileNumber" id="pwd" name="endFileNumber">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" id="isStream" name="isStream" class="form-check-input" value="true" [(ngModel)]="isStream">Streamed File
                </label>
              </div>
              <div id="modalButtonPanel" style="text-align:right">
                <button data-dismiss="modal" (click)="submitDownload()">Submit</button>
                <button data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>

      </div>



    </div>
  </div>
</div>
