<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
 <main role="main" class="container-fluid">
    <div class="row" style="font-size: 10pt;">
        <div class="col-sm-2" style="padding-left:0; padding-right: 0">
            <div class="card" style=" height: calc(100vh - 3.75rem);">
              <div class="card-header">
                <strong>Notices</strong>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="/download">Download</a>
                </li>
                <li class="list-group-item">
                    <a href="/active">Active</a>
                </li>
              </ul>
            </div>
          </div>
      <div class="col-sm-10" style="padding-left:0; padding-right: 0">
        <div class="card" style=" height: calc(100vh - 3.75rem);">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>