<!-- The Modal -->
<div class="modal" id="feature-disabled-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div id="modal-titlebar" style="background-color: #0062cc; color:white; padding: 5px;">
        Warning
      </div>
      <div class="modal-body">
        <div style="text-align: center">
          This feature is currently disabled
        </div>
        <div id="modalButtonPanel" style="text-align:center; padding-top:20px">
          <button type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
 
    </div>
  </div>
</div>
